.rb-page-header {
	background: #444;
	padding: 0 40px;

	.page-header-block {
		align-items: center;
	}

	.rb-logo {
		.logo-title {
			color: #ddd;
			overflow: visible !important;
			font: 600  2.3em/2em sans-serif!important;

		}
	}
}

.rb-page-main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 30px 0;
}



.rb-libchooser {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	label {
		padding: 20px;
		color: #ddd;
	}
}
