---
component: rb_logo
---

<div class="rb-logo">
	<a class="logo-inner" title="Startpage" href="{{ link }}">
		<span class="logo-title">{{ title }}</span>
		{{glob 'tmp/svgmin/logo/*.svg'  }}
	</a>
</div>

